<html>
    <head>
        <title>
            Heckfire Tools
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
          </head>
    <body>
        <div id="app">
            <v-app>
                <v-container>
                    <v-card>
                        <h2 style="text-align:center">Heckfire Tools</h2>

                        <!-- tabs -->
                        <v-tabs grow v-model="activeTab">
                            <v-tab v-for="tab of tabs" :key="tab.id">
                              {{tab.name}}
                            </v-tab>
                          </v-tabs>
                          
                     <!-- tab 1-->
                      <div v-if="activeTab === 0">
                          <v-container>
                        <v-row 
                        align="center"      
                        justify="center"
                        no-gutters
                          v-for="token in tokenValues">
                            <v-col cols="3">
                                <label style="float: right;margin-right: 20px;" :for="token.value">{{ token.value.toLocaleString() }} </label>
                            </v-col>
                            <v-col>
                                <v-text-field
                                clearable
                                single-line
                                dense
                                type="number" :name="token.value" v-model="token.count"></v-text-field>
                            </v-col>
                            <v-col cols="3" style="margin:20px;">
                                <span class="product" :id="token.value + '-product'">{{ (token.value * token.count).toLocaleString() }}</span>
                                                        </v-col>

                        </v-row>
                    </v-container>
                    <v-toolbar                        
                    align="center"      
                    justify="center"
                    no-gutters
                    dense
                    bottom
                    style="height: 4em;padding-left:2em;">
                        <v-col>
                            <div id="total">
                                <label for="total">Grand Total: </label>
                                <span id="spacer"></span>
                                <span id="grand-total">{{ getTotals().toLocaleString() }}</span>
                            </div>
                        </v-col>
                    </div>
                    </v-toolbar>
                      <!-- tab 2 -->
                    <v-container style="min-height:600px;" v-if="activeTab === 1">
                        <v-row style="background-color:snow;padding-top:10px;">
                            <v-col cols="3"                         
                            justify="center"
                            >    <p>
                                Expendable Ally Gold:

                            </p>                            
                            </v-col>
                            <v-col cols="4">
                                <v-text-field                                 
                                clearable
                                single-line
                                dense
                                type="number" name="ally-gold-amount" v-model="allyGold" v-on:keyup="calculateGold"></v-text-field>
                            </v-col>
                        </v-row>
                            <div v-for="ally in alliesAboveMax" style="color:666">
                                {{ ally.toLocaleString() }}
                            </div>
                            <v-divider></v-divider>
                            <div v-if="allyMax" class="bold" style="font-weight:bold;color:333">
                                {{ allyMax.toLocaleString() }}
                            </div>
                            <v-divider></v-divider>
                            <div v-for="ally in alliesBelowMax" style="color:666">
                                {{ ally.toLocaleString() }}
                            </div>
                    </v-container>
                    <!-- tab 3 -->
                    <v-container v-if="activeTab === 2">
                        Quest Timer coming soon for now visit<br/>
                        <a href="https://heckfire.azurewebsites.net/">https://heckfire.azurewebsites.net/</a>
                        
                    </v-container>
                </v-card>
            </v-containerapp style="max-height:100%;">
             </v-app>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>      
        <script src="token-calc.js"></script>
    </body style="max-height:100%;">

<style>
    #grand-total {
        font-weight: bold
    }

    .row:nth-of-type(odd) {
        background-color: rgba(13, 126, 9, 0.185)
    } 
    </style>
    <script>
    const app = new Vue({ 
    el: '#app',
    vuetify: new Vuetify(),
    methods: {
        getTotals: function() {
            return this.tokenValues.reduce((acc, cur) => acc + (cur.value * cur.count), 0);
        },
        calculateGold: function () {
            this.alliesBelowMax = [];
            this.alliesAboveMax = [];
            this.allyMax = null;
            let price = 100
                while (price <= this.allyGold) {
                    this.alliesBelowMax.unshift(Math.floor(price *= 1.05));
                    if(this.alliesBelowMax.length > 10) {
                        this.alliesBelowMax.pop();
                    }
                }
                this.allyMax = this.alliesBelowMax.shift();
                this.alliesAboveMax.unshift(Math.floor(price *= 1.05));
                this.alliesAboveMax.unshift(Math.floor(price *= 1.05));
                this.alliesAboveMax.unshift(Math.floor(price *= 1.05));
        }
    },
    data: {
        activeTab: 0,
        tabs: [
            { id: 1, name: 'Token Calculator' },
            { id: 2, name: 'Ally Gold' },
            { id: 3, name: 'Quest Timer'}
        ],
        tokenValues: [
            {
                value: 500,
                count: null
            },            {
                value: 1000,
                count: null
            },            {
                value: 2500,
                count: null
            },            {
                value: 5000,
                count: null
            },            {
                value: 10000,
                count: null
            },            {
                value: 25000,
                count: null
            },            {
                value: 50000,
                count: null
            },            {
                value: 100000,
                count: null
            },            {
                value: 250000,
                count: null
            },            {
                value: 500000,
                count: null
            },            {
                value: 1000000,
                count: null
            },            {
                value: 2500000,
                count: null
            },            {
                value: 5000000,
                count: null
            },
        ],
        // ally costs
        allyGold: null,
        allyMax: null,
        alliesAboveMax: [],
        alliesBelowMax: []
    }
});
    </script>
</html>